:root {
  --blue: #00a9fe;
  --yellow: #e6ac00;
  --red: #e7402e;
  --green: #28a135;
  --pink: #ff30a9;
}


/* GENERAL STYLING */
html, body { padding: 0; margin: 0; width: 100%; height: 100%; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif; }
#cnt { margin: 0; padding: 0; display: grid; grid-template-rows: calc(100% - 54px) 54px; width: 100%; height: 100%; }
.menu, #pause, #stop { display: none; }
#_ { display: block; }


/* CONTROL PANELT AT THE BOTTOM OF THE SCREEN */
#controls { display: grid !important; grid-template-columns: 54px calc(100% - 108px) 54px; grid-gap: 0; width: 100%; height: 100%; background: #666; }
#btns { display: grid; width: 100%; height: 54px; justify-content: center; align-items: center; background: #333; }
#btns div i { color: white; font-size: 3em; display: block; }
#progress { width: 100%; overflow: hidden; display: relative; }
#title { pointer-events: none; color: white; margin-top: 0.5em; margin-left: 12px; white-space: nowrap; }
#time { pointer-events: none; color: white; font-size: 0.8em; margin-left: 12px; white-space: nowrap; }
#progression { position: absolute; bottom: 0; left: 54px; height: 54px; width: calc(calc(100% - 108px) * 0); background: #444; overflow: visible; }
audio { display: none; }

#music_cnt { display: block; width: 100%; height: 100%; overflow-y: auto; box-sizing: border-box; padding: 1em 0; }


/* STYLING OF DIRECTORY FILE AND BACK BUTTONS */
.dir, .file { box-sizing: border-box; display: block; }

.dir { position: relative; padding: 0.5em 1em; margin-top: 1.5em; margin-bottom: 1.5em; color: white; font-size: 1.75em; }
#_ > .dir { margin-top: 1em; margin-bottom: 1.5em; font-size: 2.5em; }
.dir:nth-child(odd) { text-align: right; margin-left: 2em; width: calc(100% - 2em); padding-left: 3em; }
.dir:nth-child(even) { width: calc(100% - 2em); padding-right: 3em; }

.dir img { box-sizing: border-box; background: white; width: 3.5em; height: 3.5em; position: absolute; border-radius: 100%; transform: translate(0, -1em); }
.dir:nth-child(odd) img { left: -1.25em; }
.dir:nth-child(even) img { right: -1.25em; }

.file { width: 100%; padding: 0.75em; margin-bottom: 1em; color: white; }

#bb { display: grid; justify-content: center; align-items: center; width: 54px; height: 54px; text-align: center; color: white; font-weight: bold; background: #333; }
#bb img { height: 28px; }
#bb i { font-size: 3.2em; }


/* COLOR SCHEME */
.blue { background: var(--blue); }
.yellow { background: var(--yellow); }
.red { background: var(--red); }
.green { background: var(--green); }
.pink { background: var(--pink); }

.blue img { border: 5px solid var(--blue); }
.yellow img { border: 5px solid var(--yellow); }
.red img { border: 5px solid var(--red); }
.green img { border: 5px solid var(--green); }
.pink img { border: 5px solid var(--pink); }
